<!doctype html>

<html lang="en">
<head>
  <title>Lonely Recipes</title>
  <link rel="stylesheet" href="public/stylesheets/default.css">
</head>

<body>

<h1>Here's where our title/logo will go!</h1>

<div id="table_wrapper">

<div id="table_left">
<p>Here's where our main content will go.</p>
<p> Like a dynamically served greeting ("Impress your pets with ...")</p>
<p> And a link to a sad recipe.</p>
</div>

<div id="table_top_right">Wine goes here!</div>

<div id="table_bottom_right">A cat goes here.</div>

</div> <!-- close wrapper -->

</body>
</html>